*{
    padding: 0;
    padding-bottom: 10px;
    
    margin: 0;
    box-sizing: border-box;
}



.header {
    
    color: white;
    display: fixed;
    background-color: black;
    
}

h1{ 
    margin-left: 60px;
    padding-top: 20px;
    position: relative;
    color:white;
    
}





.navbar ul{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
    position: absolute;
    left: 800px;
    bottom: 650px;
    /* justify-content: space-between; */
    list-style-type: none;
    font-size: 20px;

    
}
.navbar ul a{
    text-decoration: none;
    color: white;
}
.navbar ul li{
    
    padding : 10px 40px;
    border: 2px solid black;
    margin :0px 10px;
    border-radius: 20px;
    border-color: aliceblue;
    /* background-color: black; */
}

.navbar ul  :hover{
   /* color: #95c7cc; */
   color: black;
   background-color: white;
   transition: 1s;
   transform:translateY(10px);
   font-size: 25px;
}

.butman{
    position: relative;
    left: 90px;
    top: 50px;
    width: 100px;
    color: white;
    font-size: 18px;
    text-align: center;
    background-color:black;
    border: 2px solid white;
    border-radius: 20px;    
}

.butman:hover{
    color: black;
    background-color: white;
    transition: 1s;
    transform: translateY(20px);
    
}


.total{
    position: absolute;
    left: 436px;
    top: 140px;
    color: black;
}

.payment{
    position: absolute;
    left: 448px;
    top: 253px;
    color: black;
}

.UPI{
    position: absolute;
    width: 325px;
    left: 109px;
    top: 96px;
    border: 7px solid black;
    border-radius: 15px;
    color: black;
    font-weight: bolder;
    background-color: white;

}

.cash{
    position: absolute;
    width: 325px;
    left: 109px;
    top: 144px;
    border: 7px solid black;
    border-radius: 15px;
    color: black;
    font-weight: bolder;
    background-color: white;

}


.cards{
    position: absolute;
    width: 325px;
    left: 109px;
    top: 193px;
    border: 7px solid black;
    border-radius: 15px;
    color: black;
    font-weight: bolder;
    background-color: white;

}
